body {
  background-color: #FAEED1;
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 0;
  text-align: center;
}

.create-task {
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 30px auto 0 auto;
}

.create-task input {
  background-color: #FDF7E4;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 20px;
  height: 38px;
  width: 320px;
  font-family: 'Indie Flower', cursive;
}

.create-task button {
  background-color: #DED0B6;
  border: none;
  font-family: 'Indie Flower', cursive;
  height: 40px;
  width: 160px;
  font-size: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
}

.affect-all {
  display: grid;
  grid-template-columns: 1fr
  place-items: center;
  background-color: #DED0B6;
}

.affect-all-text {
  display: grid;
  place-items: start;
}

.affect-all p{
 font-size: 20px;
}

.affect-all button {
  background-color: #FAEED1;
  border: none;
  font-family: 'Indie Flower', cursive;
  height: 35px;
  width: 35px;
  margin: auto 2px;
  cursor: pointer;
}

.list ul {
 padding: 5px;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 3px;
  background-color: #BBAB8C;
  min-height: 400px;
}

.list li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  background-color: #DED0B6;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 3px;
  font-size: 18px;
  align-items: center;
}

#developer, h1, .create-task, .list, .affect-all {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.list button {
  background-color: #DED0B6;
  height: 35px;
  width: 35px;
  margin: auto 2px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.list img, .affect-all img {
  height: 30px;
}

#developer {
  text-align: center;
}